@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Grey+Qo&display=swap');
*{
    margin: 0;
    padding: 0;
    
    }
/*parent*/  

.parent{
    
    background-color:rgb(231, 229, 241);
    
    display: flex;
    
    justify-content: center;
    
    min-height: 100vh;
    
    align-items: center;
    
    flex-wrap: wrap;
}

.parent>div{
    
    width: 200px;
    
    height: 300px;
    
    background-color:white;
    
    border: 1px solid â˜ rgb(176, 170, 209);
    
    margin: 20px;
    
}
    
.image{
    
    width: 100%;
    
    height: 70%;
    
}
    
.content{
    
    height: 30%;
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
    
}
.content>button{
    
        border: none;
        background-color: rgb(0, 0, 0);
        color: aliceblue;
        
}
.content>h6{
        color: rgb(53, 3, 3);
}
    
/*-------------------------------*/    
    
/*container*/

.container{
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        position: relative;
        
}
.container>button{
    border: none;
    background-color: rgb(1, 2, 2);
    color: aliceblue;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;

}
.container>h1{
    position: absolute;
    left: 40%;
    top: 40%;
    color: rgb(252, 252, 252);
    border-color:rgb(26, 16, 4) ;
    border-width:thick;
    font-family: "Bodoni Moda SC", serif;
    
}
img{
    
    width: 100%;
    height: 100%;
    object-fit:cover;
        
}
.ds {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
            
}
        
.ds > h1 {
        color: rgb(88, 117, 33);
        font-family: "Bodoni Moda SC", serif;
    }
        
        
/*------------------------*/

/*navigation bar*/
.nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(7, 4, 1);
    color: rgb(252, 249, 249);
    position: sticky;
    top: 0; 
    z-index: 1000; 
    
}

        
.left{
    font-family: "Bodoni Moda SC", serif;
    display: flex;
        
}
        
.left>h4{
        
    margin-right: 20px;
}

.right{
    font-family: "Bodoni Moda SC", serif;
}
   /*----------------------------------------------*/ 